<div class='box' style='margin:10px 5px;'>
    <div class='img_holder' style="position:relative">
        <a href={{link}} target="_blank"><img src={{img_url}} class='img-rounded'></a>
        <span class='price badge' style='z-index:100;right:0;bottom:0;position:absolute;margin:10px 0;'>{{price}}</span>
    </div>

    <div class='row' style='padding: 2.5px'>
        <div class='col-md-7 text-left'>
            <span class='glyphicon glyphicon-heart-empty label label-danger'>喜欢</span><span class='likes badge'>{{likes}}</span>
        </div>

        <div class='col-md-5 text-right'>
            <span>销量(<span class='sold'>{{sold}}</span>)</span>
        </div>
    </div>
</div>
